{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/profile.css') }}">
    <h1 class="profile_head">{{ title }}</h1>
    <form method="post">
        <div class="add">
            <p class="profile_bar">Название</p>
            <a><input name="name" type="text" required class="input"></a>
            <p class="profile_bar">Описание</p>
            <a><input name="properties" type="text" required class="input"></a>
            <p class="profile_bar">Тип продукта</p>
            <select class="input" name="type">
              <option value="pizza">Пицца</option>
              <option value="drink">Напиток</option>
            </select>
            <p class="profile_bar">Цена</p>
            <a><input name="price" type="text" required class="input"></a>
            <p class="profile_bar">Изображение</p>
            <a><input name="image" type="text" required class="input"></a>
            <p><input type="submit" value="Добавить" class="save"></p>
        </div>
    </form>
{% endblock %}