{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/styles/bin.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/profile.css">
    {% for order in orders %}
        {% for pizza in pizzas %}
            {% if pizza.id == order.pizza_id %}
                <div class="order">
                    <img src="{{ pizza.image }}" alt="Здесь должна быть {{ pizza.name }}" class="product_photo" width="125" height="125">
                    <p class="header"> {{ pizza.name }} </p>
                    <p class="profile_bar"> Размер: {{ order.size }} см</p>
                    <p class="profile_bar"> Количество: {{ order.quantity }} </p>
                    <p class="profile_bar"> Цена: {{ "%.2f"|format(order.price) }} ₽</p>
                    <h3 onclick="location.href = '{{ url_for("delete", order=order.id) }}'" class="delete">Убрать из корзины</h3>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if conclude == 0 %}
        <h4 onclick="location.href = '{{ url_for("main_page") }}'" class="buy">Здесь пусто, выберите себе что-нибудь <3</h4>
    {% else %}
        <h4 onclick="location.href = '{{ url_for("buy") }}'" class="new_pizza">Заказать за {{ "%.2f"|format(conclude) }} ₽</h4>
    {% endif %}
{% endblock %}