{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/styles/main.css">
    {% for pizza in pizzas %}
        <div id="popup_{{ pizza.id }}" class="popup">
            <div id="window_{{ pizza.id }}" class="window">
                <img src="{{ pizza.image }}" width=150 height=150 alt="Здесь должна быть фотка {{ pizza.name }}">
                <p class="header">{{ pizza.name }}</p>
                <p class="description"> {{ pizza.properties }}</p>
                {% if current_user.is_active %}
                    <form method="post">
                        <div class="order_parameters">
                            {% if pizza.type == 'pizza' %}
                                <label>25 СМ<input type="radio" name="size_{{ pizza.id }}" value="25" class="size"/></label>
                                <label>35 СМ<input type="radio" name="size_{{ pizza.id }}" value="35" class="size"/></label>
                                <label>45 СМ<input type="radio" name="size_{{ pizza.id }}" value="45" class="size"/></label>
                            {% endif %}
                            <label>Количество: <input type="text" name="quantity_{{ pizza.id }}" value="1" class="quantity"></label>
                            <input type="submit" value="Добавить в корзину" class="submit">
                            {% if current_user.role == 'admin' %}
                                <h3 onclick="location.href = '{{ url_for("edit", pizza_id=pizza.id) }}'" class="edit">Редактировать</h3>
                            {% endif %}
                        </div>
                    </form>
                    <p class="price">От {{ pizza.price }} ₽</p>
                {% else %}
                    <p onclick="location.href = '{{ url_for("registration")}}'" class="message"> Чтобы сделать заказ, зарегестрируйтесь</p>
                    <a> или </a>
                    <p onclick="location.href = '{{ url_for("log")}}'" class="message"> войдите в существующий аккаунт </p>
                {% endif %}
                <a href="#" class="close">╳</a>
            </div>
        </div>
        <div onclick="location.href = '#popup_{{ pizza.id }}'" class="pizza_box">
            <img src="{{ pizza.image }}" width=150 height=150 alt="Здесь должна быть фотка {{ pizza.name }}" class="product_photo">
            <p class="header">{{ pizza.name }}</p>
            <p class="description"> {{ pizza.properties }}</p>
            {% if pizza.type == pizza %}
                <p class="price">От {{ pizza.price }} ₽</p>
            {% else %}
                <p class="price">{{ pizza.price }} ₽</p>
            {% endif %}
        </div>
    {% endfor %}
    {% if current_user.role == 'admin' %}
        <h4 onclick="location.href = '{{ url_for("add_pizza") }}'" class="new_pizza">Добавить</h4>
    {% endif %}
{% endblock %}
