{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/styles/profile.css">
    <h1 class="profile_head">{{ title }}</h1>
    </style>
    <form method="post">
        <div class="add">
            <p class="profile_bar">Логин</p>
            <a><input name="login" type="text" required class="input"></a>
            <p class="profile_bar">Password</p>
            <a><input name="password" type="text" required class="input"></a>
            <p class="profile_bar">Adress</p>
            <a><input name="adress" type="text" required class="input"></a>
            <p class="profile_bar">Phone</p>
            <a><input name="phone" type="text" required class="input"></a>
            <p><input type="submit" value="Зарегистрироваться" class="save"></p>
        </div>
    </form>
{% endblock %}